<!DOCTYPE html>
<html>

<head>
  <title>New Drop</title>
  <link rel="stylesheet" type="text/css" href="../static/main(new).css">
  <link rel="stylesheet" type="text/css" href="../static/active_drops.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <!--This is the navigation of the webpage. This should remain the same throughout all pages-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <div class="nav">
    <h1 class="title">SafeDrop</h1>
    <label class="toggle" for="toggle">&#9776;</label>
    <input type="checkbox" id="toggle"/>
    <div class="user">
      <ul>
        <li>
          <a class="dropdown" href="{{ url_for('profile') }}">Profile</a>
          <a class="dropdown" href="{{ url_for('logout') }}">Logout</a>
        </li>
      </ul>
    </div>

    <div class="menu">
      <a href="{{ url_for('browse') }}">Browse</a>
      <a href="{{ url_for('active_drops') }}">Active Drops</a>
      <a id="newdrop" href="{{ url_for('new_drop') }}">New Drop</a>
      <p class="menu_title">{{FirstName}} {{LastName}}</p>
    </div>
    <label class="mobile_toggle" for="mobile_toggle">&#9776;</label>
    <input type="checkbox" id="mobile_toggle"/>
    <div class="mobile">
      <ul>
        <li>
          <a class="dropdown" href="{{ url_for('new_drop') }}">New Drop</a>
          <a class="dropdown" href="{{ url_for('active_drops') }}">Active Drops</a>
          <a class="dropdown" href="{{ url_for('browse') }}">Browse</a>
          <a class="dropdown" href="{{ url_for('profile') }}">Profile</a>
          <a class="dropdown" href="{{ url_for('logout') }}">Logout</a>
        </li>
      </ul>
    </div>
  </div>


    <div class="active_drop">
        <div class="container" id="buy_drops">
            <h2 class="main_header">Your Buying SafeDrops</h2>
        </div>


            <script type="text/javascript">
            var i = 0;
            var id;
            var s_data = ({{ s_txids|tojson }});
            var b_data = ({{ b_txids|tojson }});
            var s_name = ({{ s_names|tojson }});
            var b_name = ({{ b_names|tojson }});
            var b_other_users = ({{ b_other_user|tojson }});
            var b_prices = ({{ b_price|tojson }});
            var b_locations = ({{ b_location|tojson }});
            var b_dates = ({{ b_date|tojson }});
            var s_other_users = ({{ s_other_user|tojson }});
            var s_prices = ({{ s_price|tojson }});
            var s_locations = ({{ s_location|tojson }});
            var s_dates = ({{ s_date|tojson }});
            var s_data = ({{ s_txids|tojson }});
            var a_data = ({{ a_txids|tojson }});
            var a_name = ({{ a_names|tojson }});
            var a_prices = ({{ a_price|tojson }});
            var a_locations = ({{ a_location|tojson }});
            var a_dates = ({{ a_date|tojson }});

              {% for item in b_txids %}
              i_name = b_name[i]
              s_user = b_other_users[i]
              cost = b_prices[i]
              place = b_locations[i]
              date = b_dates[i]
              i = i+1
              data = ('<a class="posts" href="' +
                "{{ url_for('transactionpage', chat_id = item)}}" +
                '"><h3 class="post_title">' + i_name +
                '</h3><h3 class="cost">' + cost + '</h3><p>Buying from ' +
                s_user + '</p><h3 class="location">' + place +
                '</h3><h3 class="date">' + date + '</h3></a>');
              console.log(data)
              $("div#buy_drops").append(data);
              {% endfor %}

            </script>

        <div class="container" id="sell_drops">
            <h2 class="main_header">Your Selling SafeDrops</h2>
        </div>

          <script type="text/javascript">
          var i = 0;

            {% for item in s_txids %}
            i_name = s_name[i]
            b_user = s_other_users[i]
            cost = s_prices[i]
            place = s_locations[i]
            date = s_dates[i]
            i = i+1
            data = ('<a class="posts" href="' +
              "{{ url_for('transactionpage', chat_id = item)}}" +
              '"><h3 class="post_title">' + i_name +
              '</h3><h3 class="cost">' + cost + '</h3><p>Selling to ' +
              b_user + '</p><h3 class="location">' + place +
              '</h3><h3 class="date">' + date + '</h3></a>');
            console.log(data)
            $("div#sell_drops").append(data);
            {% endfor %}

          </script>

          <div class="container" id="active_listing">
              <h2 class="main_header">Your Active Listings</h2>
          </div>

            <script type="text/javascript">
            var i = 0;

              {% for item in a_txids %}
              i_name = a_name[i]
              cost = a_prices[i]
              place = a_locations[i]
              date = a_dates[i]
              i = i+1
              data = ('<a class="posts" href="' +
                "{{ url_for('transactionpage', chat_id = item)}}" +
                '"><h3 class="post_title">' + i_name +
                '</h3><h3 class="cost">' + cost + '</h3><p>Awaiting sale...' +
                '</p><h3 class="location">' + place +
                '</h3><h3 class="date">' + date + '</h3></a>');
              console.log(data)
              $("div#active_listing").append(data);
              {% endfor %}

            </script>

    </div>
</body>

</html>
