<!DOCTYPE html>
<html>

<head>
  <title>Box Use</title>
  <link rel="stylesheet" type="text/css" href="../static/main(new).css">
  <link rel="stylesheet" type="text/css" href="../static/box_use.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!--This is the navigation of the webpage. This should remain the same throughout all pages-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <div class="nav">
    <h1 class="title">SafeDrop</h1>
    <img id ="title_image" src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.15752-9/54518170_1248458095314491_6567331254184706048_n.png?_nc_cat=109&_nc_ht=scontent-sea1-1.xx&oh=948ef5830be5a983bb58771be3acba5c&oe=5D0C4C11" alt="SafeDrop Logo">
    <label class="toggle" for="toggle">&#9776;</label>
    <input type="checkbox" id="toggle"/>
    <div class="user">
      <ul>
        <li>
          <a class="dropdown" href="{{ url_for('profile') }}">Profile</a>
          <a class="dropdown" href="{{ url_for('logout') }}">Logout</a>
        </li>
      </ul>
    </div>

    <div class="menu">
      <a href="{{ url_for('browse', page_id=1) }}">Browse</a>
      <a href="{{ url_for('active_drops') }}">Active Drops</a>
      <a id="newdrop" href="{{ url_for('new_drop') }}">New Drop</a>
      <p class="menu_title">{{FirstName}} {{LastName}}</p>
    </div>
    <label class="mobile_toggle" for="mobile_toggle">&#9776;</label>
    <input type="checkbox" id="mobile_toggle"/>
    <div class="mobile">
      <ul>
        <li>
          <a class="dropdown" href="{{ url_for('new_drop') }}">New Drop</a>
          <a class="dropdown" href="{{ url_for('active_drops') }}">Active Drops</a>
          <a class="dropdown" href="{{ url_for('browse', page_id=1) }}">Browse</a>
          <a class="dropdown" href="{{ url_for('profile') }}">Profile</a>
          <a class="dropdown" href="{{ url_for('logout') }}">Logout</a>
        </li>
      </ul>
    </div>
  </div>


  <div id="container">
    <h2 id="confirmation">Sale confirmed with Admin</h2>

    <h3 id="code">Box Code: {{code}}</h3>
    {% if code != "Request Box Access Code" %}
    <p id="info">&#9432; This code will expire in <span id="time"></span> seconds</p>
    {% endif %}

    <form action="" method="POST">
      <button id="request" type="submit" name="submit" value="submit">Request Code</button>
    </form>




  </div>


  <script type="text/javascript" src="/js/lib/dummy.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/robbmj/simple-js-countdown-timer/master/countdowntimer.js"></script>

  <script type="text/javascript">
    window.onload = function () {
      var display = document.querySelector('#time'),
        timer = new CountDownTimer(60),
        timeObj = CountDownTimer.parse(60);

      format(timeObj.minutes, timeObj.seconds);

      timer.onTick(format);

      window.onload = timer.start();

      function format(minutes, seconds) {
        seconds = seconds < 10 ? "0" + seconds : seconds;
        display.textContent = seconds;
      }
    };
  </script>
</body>

</html>
