<!DOCTYPE html>
<html>

<head>
  <title>Buy Page</title>
  <link rel="stylesheet" type="text/css" href="../static/main(new).css">
  <link rel="stylesheet" type="text/css" href="../static/buyPage.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <!--This is the navigation of the webpage. This should remain the same throughout all pages-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <div class="nav">
    <h1 class="title">SafeDrop</h1>
    <img id="title_image" src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.15752-9/54518170_1248458095314491_6567331254184706048_n.png?_nc_cat=109&_nc_ht=scontent-sea1-1.xx&oh=948ef5830be5a983bb58771be3acba5c&oe=5D0C4C11" alt="SafeDrop Logo">
    <label class="toggle" for="toggle">&#9776;</label>
    <input type="checkbox" id="toggle" />
    <div class="user">
      <ul>
        <li>
          <a class="dropdown" href="{{ url_for('profile') }}">Profile</a>
          <a class="dropdown" href="{{ url_for('logout') }}">Logout</a>
        </li>
      </ul>
    </div>

    <div class="menu">
      <a href="{{ url_for('browse', page_id=1) }}">Browse</a>
      <a href="{{ url_for('active_drops') }}">Active Drops</a>
      <a id="newdrop" href="{{ url_for('new_drop') }}">New Drop</a>
      <p class="menu_title">{{FirstName}} {{LastName}}</p>
    </div>
    <label class="mobile_toggle" for="mobile_toggle">&#9776;</label>
    <input type="checkbox" id="mobile_toggle" />
    <div class="mobile">
      <ul>
        <li>
          <a class="dropdown" href="{{ url_for('new_drop') }}">New Drop</a>
          <a class="dropdown" href="{{ url_for('active_drops') }}">Active Drops</a>
          <a class="dropdown" href="{{ url_for('browse', page_id=1) }}">Browse</a>
          <a class="dropdown" href="{{ url_for('profile') }}">Profile</a>
          <a class="dropdown" href="{{ url_for('logout') }}">Logout</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="container">
    <div id="img_container">
      <div id="big_img">
        <img src="https://rocket-league.com/content/media/users/avatar/256px/f120263a711533640100.png" id="expandedImg">
      </div>
      <div id="scroll_plus_small">
        <div class="left">
          <button class="scroll_button" id="left-button" style="background: url(https://image.flaticon.com/icons/svg/8/8747.svg)">
          </button>
        </div>
        <div id="small_img"></div>
        <div class="right">
          <button class="scroll_button" id="right-button" style="background: url(https://image.flaticon.com/icons/svg/10/10022.svg)">
          </button>
        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script type="text/javascript">
            var i = 0;
            var urls = ({{url|tojson}})

              {% for item in url %}
              item = urls[i]
              i = i+1
              data = ('<img src="'+ item +'" alt="item_img" onclick="myFunction(this)">');
              console.log(data)
              $("div#small_img").append(data);
              {% endfor %}

      </script>
    </div>

    <div id="drop_info">
      <h1 id="post_title">{{i_name}}</h1>
      <div id="details">
        <div id="desc_info">
          <h2 id="desc_title">Description</h2>
          <pre id="desc">{{i_desc}}</pre>
        </div>

        <div id="non_desc_wrapper">
          <div id="non_desc_container">
            <h2 id="non_desc_title">Drop Details</h2>
            <p class="non_desc">${{i_cost}}</p>
            <p class="non_desc">{{location}}</p>
            <p class="non_desc">{{date_init}}</p>
          </div>
          <div id="button">
            {% if currentuser != SellerName %}
            <form action="" method="POST">
              <button type="submit" name="submit" value="submit">Buy This Drop</button>
            </form>
            {% else %}
            <a href="{{url_for('deleteTX', chat_id=txid)}}">Delete This Drop</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

    <script  src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        function myFunction(imgs) {
          var expandImg = document.getElementById("expandedImg");
          var imgText = document.getElementById("imgtext");
          expandImg.src = imgs.src;
          imgText.innerHTML = imgs.alt;
          expandImg.parentElement.style.display = "block";
        }
    </script>


    <script type="text/javascript">
       $('#right-button').click(function() {
          event.preventDefault();
          $('#small_img').animate({
            scrollLeft: "+=200px"
          }, "slow");
       });

         $('#left-button').click(function() {
          event.preventDefault();
          $('#small_img').animate({
            scrollLeft: "-=200px"
          }, "slow");
       });
    </script>
</body>
</html>
