<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="../static/login_signup.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<!--This is the navigation of the webpage. This should remain the same throughout all pages-->

<div class="nav">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <h1 class="title">SafeDrop</h1>
      <img id ="title_image" src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.15752-9/54518170_1248458095314491_6567331254184706048_n.png?_nc_cat=109&_nc_ht=scontent-sea1-1.xx&oh=948ef5830be5a983bb58771be3acba5c&oe=5D0C4C11" alt="SafeDrop Logo">


    <div class="login_form">
        <form action="" method="post">
            <div id="input_container">
                <div class="stoopid">
                    <label class="label_text" for="Username">Username:</label>
                    <input type="text" placeholder="Username" name="username" value="{{request.form.username }}" required/>
                </div>

                <div class="stoopid" id="password">
                    <label class="label_text" for="Password">Password:</label>
                    <input type="password" placeholder="Password" name="password" value="" required/>
                </div>

            </div>
            <button class="login_button" type="submit">Login</button>
        </form>
    </div>

</div>

<div class="box">
  <h2 class="box_header">New user? Sign up for a SafeDrop profile below.</h2>
    <div class="container">
    <form action="" method="post">
        <label class=signup_label>Username: </label>
        <input type="username" placeholder="Username" name="username" value="" min = "4" max = "30" required>
        <br>
        <label class=signup_label>Password: </label>
        <input type="password" placeholder="Password" name="password" value="" min = "8" max = "32" required>
        <br>
        <label class=signup_label>First Name: </label>
        <input type="first_name" placeholder="First Name" name="first_name" value="" max = "30" required>
        <br>
        <label class=signup_label>Last Name: </label>
        <input type="last_name" placeholder="Last Name" name="last_name" value="" max = "32" required>
        <br>
        <label class=signup_label>Email Address: </label>
        <input type="email" placeholder="Email" name="email" value="" max = "64" required>
        <br>
        <label class=signup_label>Age: </label>
        <input type="age" placeholder="Age" name="age" value="" max = "3" required>
        <br>
        <label class=signup_label>Address: </label>
        <input type="address" placeholder="Address" name="address"  value="" max = "50" required>
        <br>
        <label class=signup_label>City: </label>
        <input type="city" placeholder="City of Residence" name="city" value="" min = "3" max = "32" required>
        <br>
        <label class=signup_label>Province/State: </label>
        <input type="province" placeholder="Province" name="province" value="" min = "4" max = "30" required>
        <br>
        <label class=signup_label>Country: </label>
        <input type="country" placeholder="Country" name="country" value="" min = "4" max = "32" required>
        <br>
        <label class=signup_label>Postal Code: </label>
        <input type="postal_code" placeholder="Postal Code" name="postal_code" value="" min = "6" max = "8" required>

    </form>


  </div>

</div>
    <div class="button">
        <button class="signup_button" type="submit">Signup</button>
      </div>

</body>
</html>
