<!DOCTYPE html>
<html>

<head>
  <title>New Drop</title>
  <link rel="stylesheet" type="text/css" href="../static/main(new).css">
  <link rel="stylesheet" type="text/css" href="../static/messages.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<!--This is the navigation of the webpage. This should remain the same throughout all pages-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <h1 class="title">SafeDrop</h1>
  <div class="nav">
    <p class="menu_title">Andrew Moreno</p>
    <label class="toggle" for="toggle">&#9776;</label>
    <input type="checkbox" id="toggle"/>
    <div class="user">
      <ul>
        <li>
          <a class="dropdown" href="#">Profile</a>
          <a class="dropdown" href="#">Logout</a>
        </li>
      </ul>
    </div>

    <div class="menu">
      <a href="#">Browse</a>
      <a href="#">Active Drops</a>
      <a id="newdrop" href="#">New Drop</a>
    </div>
    <label class="mobile_toggle" for="mobile_toggle">&#9776;</label>
    <input type="checkbox" id="mobile_toggle"/>
    <div class="mobile">
      <ul>
        <li>
          <a class="dropdown" href="#">New Drop</a>
          <a class="dropdown" href="#">Active Drops</a>
          <a class="dropdown" href="#">Browse</a>
          <a class="dropdown" href="#">Profile</a>
          <a class="dropdown" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">

    <div class="messages">
      <h2 id="connected_to">
        You have connected to Admin! Say something bitch
      </h2>
      <div class = "old_messages"></div>
      <div class="message_holder"></div>
      <form action="" method="POST">
        <input type="text" id="message_box" placeholder="Messages"/>
        <button id="send" type="submit" name="post">Send</button>
      </form>

    </div>
    <label class="toggle2" for="toggle2">&#9432;</label>
    <input type="checkbox" id="toggle2"/>
    <div class="drop_info">
      <h2 id="title">Title</h2>
      <pre id="description">This will be the description of the posting that the other user makes so that other other users can see the details of the item being sold as it is super good to add a description for other users cause itll probably make them wanna buy the item more yafeel?

            jhb kjhb kjhb kjhb kjhb kjh bk jhb kjh bkj hb jhb kug vciyt fcug fvk hgvk hgv khg vkh gvk hgv khgvk hgv khgv khg vkh gvk hgv khgv khg vkhg vkh gvkh gv This will be the description of the posting that the other user makes so that other other users can see the
      </pre>
      <div id="details">
        <h3>Cost: $690</h3>
        <h3>Location: UBC</h3>
        <h3>Date Posted: February 31, 2019</h3>
      </div>
    </div>      
  </div>
