<!DOCTYPE html>
<html>

<head>
  <title>New Drop</title>
  <link rel="stylesheet" type="text/css" href="../static/main(new).css">
  <link rel="stylesheet" type="text/css" href="../static/new_drop.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<!--This is the navigation of the webpage. This should remain the same throughout all pages-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <div class="nav">
    <h1 class="title">SafeDrop</h1>
    <img id ="title_image" src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.15752-9/54518170_1248458095314491_6567331254184706048_n.png?_nc_cat=109&_nc_ht=scontent-sea1-1.xx&oh=948ef5830be5a983bb58771be3acba5c&oe=5D0C4C11" alt="SafeDrop Logo">
    <label class="toggle" for="toggle">&#9776;</label>
    <input type="checkbox" id="toggle"/>
    <div class="user">
      <ul>
        <li>
          <a class="dropdown" href="{{ url_for('profile') }}">Profile</a>
          <a class="dropdown" href="{{ url_for('logout') }}">Logout</a>
        </li>
      </ul>
    </div>

    <div class="menu">
      <a href="{{ url_for('browse', page_id=1) }}">Browse</a>
      <a href="{{ url_for('active_drops') }}">Active Drops</a>
      <a id="newdrop" href="{{ url_for('new_drop') }}">New Drop</a>
      <p class="menu_title">{{FirstName}} {{LastName}}</p>
    </div>
    <label class="mobile_toggle" for="mobile_toggle">&#9776;</label>
    <input type="checkbox" id="mobile_toggle"/>
    <div class="mobile">
      <ul>
        <li>
          <a class="dropdown" href="{{ url_for('new_drop') }}">New Drop</a>
          <a class="dropdown" href="{{ url_for('active_drops') }}">Active Drops</a>
          <a class="dropdown" href="{{ url_for('browse', page_id=1) }}">Browse</a>
          <a class="dropdown" href="{{ url_for('profile') }}">Profile</a>
          <a class="dropdown" href="{{ url_for('logout') }}">Logout</a>
        </li>
      </ul>
    </div>
  </div>


<!-- This is the body of the webpage-->
  <form action="" method="post" enctype="multipart/form-data">
    <div class="drop_info">
      <h2 class="newdrop_header">Drop Details</h2>
      <table>
        <tr>
          <td>
            <p>Title: </p>
          </td>
          <td>
            <input type="text" id="iname" name="Item_name" placeholder="Enter a title for your item..." required>
          </td>
        </tr>


        <tr>
          <td>
            <p>Description: </p>
          </td>
          <td>
            <textarea name="Item_desc" id = "idescription" placeholder="Enter a description for your item..."></textarea>
          </td>
        </tr>


        <tr>
          <td>
           <p>Location: </p>
          </td>
          <td>
            <input type="text" id='ilocation' name="location" placeholder="Enter a location for your item..." required>
          </td>
        </tr>


        <tr>
          <td>
            <p>Cost: $</p>
          </td>
          <td>
            <input type="number" id="icost" name="Item_cost">
          </td>
        </tr>
      </table>
      <div class="button">

          <button class="post_button" id="post_button" type="submit" name='post' onclick="confirm()">Post!</button>

      </div>

      </form>
    </div>

    <div class="drop_images">
      <h2 class="newdrop_header">Drop Images</h2>
        <button id="upload_widget" class="cloudinary-button">Upload files</button>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

        <script type="text/javascript">
        var image_list = []
        var myWidget = cloudinary.createUploadWidget({
          cloudName: 'dwbhfproj',
          uploadPreset: 'ywss4lg4'}, (error, result) => {
            if (!error && result && result.event === "success") {
              console.log('Done! Here is the image info: ', result.info);
              image_list.push(result.info.url)
            }
          }
        )

        document.getElementById("upload_widget").addEventListener("click", function(){
                  myWidget.open();
        }, false);

        </script>
    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script type="text/javascript">
            var socket = io.connect();

            var confirm = function() {
                I_name = document.getElementById("iname").value
                I_cost = document.getElementById("icost").value
                I_desc = document.getElementById("idescription").value
                place = document.getElementById("ilocation").value
                console.log(image_list)
                socket.emit( 'confirm_drop', {
                  image_list: image_list,
                  I_name : I_name,
                  I_cost : I_cost,
                  I_desc : I_desc,
                  place : place
                    } )
              };



        </script>
      </body>


</html>
