#container {
  width: 100vw;
  height: calc(100vh - 75px);
  text-align: center;
  display: inline-block;
}

#drop_info {
  vertical-align: top;
  margin: 30px 20px;
  display: inline-block;
  text-align: left;
  height: 500px;
}

#post_title {
  display: inline-block;
  float: left;
  font-size: 45px;
  width: 600px;
  padding-bottom: 5px;
  border-bottom: solid 1px black;
}

#desc_info {
  background: white;
  border-radius: 7px;
  width: 600px;
  height: calc(100vh - 560px);
  display: inline-block;
  margin-top: 15px;
}

#desc_title {
  margin: 10px;
  font-size: 30px;
}

#desc {
  margin: 13px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  width: 575px;
  height: calc(100vh - 635px);
  white-space: pre-line;
  overflow: auto;
}

#non_desc_container {
  position: absolute;
  top: calc(100vh - 380px);
  background: white;
  border-radius: 7px;
  width: 155px;
  line-height: 30px;
  padding: 15px;
  margin: 15px 0px 0px;
}

#non_desc_container img {
  width: 15px;
  height: auto;
}

#location_icon {
  margin-right: 10px;
}

#date_icon {
  margin-right: 8px;
}

#non_desc_title {
  font-size: 27px;
  margin-bottom: 10px;
}

#non_desc {
  font-size: 17px;
  font-weight: 300px;
}

#button {
  position: absolute;
  top: calc(100vh - 205px);
  margin-top: 15px;
  height: 30px;
  width: 185px;
  text-align: center;
}

#button a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#delete_container {
  background: #FF9494;
  border-radius: 7px;
  padding: 10px 0px;
}

#button button {
  border-radius: 7px;
  font-size: 20px;
  color: black;
  background-color: #8CFD8E;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 185px;
}

#map_container {
  position: absolute;
  width: 395px;
  top: calc(100vh - 63px);
}

#map {
  height: 300px;
  border-radius: 7px;
  border: 1px solid black;
  margin-left: 203px;
  display: block;
  position: relative;
  bottom: -100px;
}

#img_container {
  margin: 0px 20px;
  display: inline-block;
  width: calc(100vh - 255px);
  text-align: center;
}

#big_img {
  vertical-align: top;
  line-height: calc(100vh - 238px);
}

#big_img img {
  margin: 0px auto;
  max-width: calc(100vh - 312px);
  max-height: calc(100vh - 312px);
  width: auto;
  height: auto;
  vertical-align: middle;
}

#small_img {
  width: calc(100vh - 375px);
  height: 110px;
  display: inline-block;
  white-space: nowrap;
  overflow-x: hidden;
}

#small_img img {
  margin: 0px 3px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  opacity: 0.8;
  cursor: pointer;
}

#small_img img:hover {
  opacity: 1;
}

#scroll_plus_small {
  position: relative;
}

.left {
  position: absolute;
  left: -10px;
  bottom: 25px;
}

.right {
  position: absolute;
  right: -10px;
  bottom: 25px;
}

.scroll_button {
  width: 50px;
  height: 50px;
  margin: 15px 0px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

@media only screen and (max-height: 800px) {
  #desc_info {
    height: 240px;
  }

  #desc {
    height: 170px;
  }

  #non_desc_container {
    position: absolute;
    top: 420px;
  }

  #button {
    position: absolute;
    top: 595px;
  }

  #map_container {
    top: 738px;
  }

  #img_container {
    width: 545px;
  }

  #big_img {
    line-height: 563px;
  }

  #big_img img {
    max-width: 485px;
    max-height: 485px;
  }

  #small_img {
    width: 425px;
  }
}

@media only screen and (max-width: 1300px) {
  #post_title {
    vertical-align: top;
  }

  #img_container {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -335px;
  }

  #big_img img {
    max-width: calc(100vh - 312px);
    max-height: calc(100vh - 312px);

  #details {
    position: absolute;
    top: 860px;
    left: 50%;
    margin-left: -300px;
    margin-bottom: 300px;

  }

  #desc_info {
    height: 295px;
  }

  #desc {
    height: 130px;
  }

  #desc {
    height: 300px;
  }

  #non_desc_container {
    top: 313px;
  }

  #button {
    top: 493px;
  }

  #map_container {
    top: 630px;
  }
}

@media only screen and (max-width: 680px) {
  #post_title {
      width: calc(100vw - 70px);
  }

  #details {
      margin-left: calc(-1 * (100vw - 40px) / 2);
  }

  #desc_info {
    width: calc(100vw - 40px);
  }

  #non_desc_container {
    top: 635px;
    left: 50%;
    margin-left: -190px;
  }

  #button {
    top: 635px;
    left: 50%;
    margin-left: 15px;
  }

  #map_container {
    left: 50%;
    margin-left: -395px;
  }

  #button button {
    width: 187px;
  }

  #small_img {
    width: 390px;
  }
}
