#container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 75px);
}

#drop_info {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 30px 60px;
    width: 600px;
    height: calc(100% - 60px);
}


#post_title {
    float: left;
    font-size: 45px;
    width: 600px;
    padding-bottom: 5px;
    border-bottom: solid 1px black;
}

#desc_info {
    background: white;
    border-radius: 7px;
    width: 600px;
    height: 400px;
    display: inline-block;
    margin-top: 30px;
}

#desc_title {
    margin: 10px;
    font-size: 30px;
}

#desc {
    margin: 13px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    width: 575px;
    height: 328px;
    white-space: pre-line;
}

#non_desc_container {
    background: white;
    border-radius: 7px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    padding: 15px;
    width: 180px;
    line-height: 30px;
}

#non_desc_title {
    font-size: 30px;
    margin-bottom: 10px;
}

#non_desc {
  font-size: 17px;
  font-weight: 300px;
}

#button {
    background: white;
    border-radius: 7px;
    display: inline-block;
    padding: 5px 10px;
    margin: 17px 0px 0px 230px;
}

#buy_button button {
    border-radius: 7px;
    width: 300px;
    height: 30px;
    font-size:20px;
    padding: 10px 0px;
    color: black;
    background-color: #36DC52;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: -90px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


a.button {
    text-decoration: none;
    border-radius: 7px;
    width: 300px;
    height: 30px;
    font-size:20px;
    padding: 10px 0px;
    color: black;
    background: #FF4500;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: -90px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#map_container{
  position: absolute;

  bottom:-200px;
  left: 80px;
  width:500px;
  margin: 0px 0px;
}

#img_container {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 30px 60px;
  width: 600px;
  height: calc(100% - 60px);
  text-align: center;
}

#big_img {
    margin-top: 0px;
    line-height: 300px;
}

#big_img img {
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
  vertical-align: middle;
}

#small_img {
    width: 500px;
    line-height: 0px;
    display: inline-block;
    white-space: nowrap;
    overflow-x: hidden;
}

#small_img img {
  margin: 0px 3px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  opacity: 0.8;
  cursor: pointer;
}

#small_img img:hover {
  opacity: 1;
}

#scroll_plus_small {
  position: relative;
}

.left {
    position: absolute;
    left: 0px;
    bottom: 130px;
}

.right {
    position: absolute;
    right: 0px;
    bottom: 130px;
}

.scroll_button {
  width: 50px;
  height: 50px;
  margin: 10px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}
