* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #e1e1e1;
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

h2 {
  font-weight: 500;
}

.nav {
  width: 100%;
  height: 75px;
  background-color: #323232;
  text-align: right;
  box-shadow: 0px 2px 20px #696969;
  z-index: 1;
  position: relative;
}

.title {
  color: #fff;
  line-height: 70px;
  float: left;
  margin-left: 20px;
}

#title_image {
  Position: absolute;
  Top: 2px;
  Left: 190px;
  width: 70px;
  height: 70px;
}

.label_text {
    color: #fff;
    font-size: 20px;
}

.login_form {
    background-color: none;
    line-height:75px;
    margin: 0px 15px;
}

#input_container {
    display: inline-block;
}

.login_form input {
  width: 200px;
  border: 1px solid #cfcfcf;
  background-color: #e1e1e1;
  border-radius: 6px;
  outline: none;
  padding: 2px 2px 2px 2px;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
    margin: 10px;
}

.login_button {
    border-radius: 6px;
    font-size:16px;
    padding: 5px;
    color: black;
    background-color: #33A1CF;
    border: none;
}

.stoopid {
    display: inline-block;
}

.box {
    margin: 70px auto 0px auto;
    width: 700px;
    height: auto;
    background: white;
    border-radius: 7px;
    box-shadow: 0px 0px 20px #b9b9b9;
    padding-bottom: 15px;

}

.box p {
    margin: 5px 15px;
    font-size: 17px;
}

 .signup_label {
    float: left;
    width: 125px;
    text-align: right;
    padding-right: 12px;
     line-height: 33px;
}

.box_header {
    padding: 10px;
    margin: 15px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #e1e1e1;
    text-align: left;
}



.container input, select, option {
  display: block;
  width: 450px;
  border: 1px solid #cfcfcf;
  background-color: #e1e1e1;
  border-radius: 6px;
  outline: none;
  padding: 6px 7px 5px 7px;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
}


.signup_button {
    display: block;
    width: 40%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-size:17px;
    padding: 10px 15px;
    color: #E1E1E1;
    background-color: #33A1CF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#33A1CF), to(#1677a3));
    background-image: -webkit-linear-gradient(top, #33A1CF, #1677a3);
    background-image: linear-gradient(to bottom, #33A1CF, #1677a3);
    border: none;
}

.signup_button:hover {
    background-color: #1677a3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1677a3), to(#33A1CF));
    background-image: -webkit-linear-gradient(top, #1677a3, #33A1CF);
    background-image: linear-gradient(to bottom, #1677a3, #33A1CF);
}

@media only screen and (max-width: 1000px) {
    #title_image {
        display: none;
    }
}


@media only screen and (max-width: 940px) {
    .title {
        display: none;
    }

    .nav {
        text-align: center;
    }
}

@media only screen and (max-width: 745px) {
    .box {
        width: calc(100vw - 50px);
    }

    .container input, select, option {
        width: calc(100vw - 250px);
    }

    .login_form {
        line-height: 0px;
        margin: 0px 50px;
    }

    .login_form input {
        margin: 5px 10px;
    }

    .login_button {
        position: absolute;
        top: 7px;
        right: calc(50% - 210px);
        line-height: 50px;
    }

    #password {
        margin-left: 5px;
    }

}

@media only screen and (max-width: 500px) {
    .login_form {
        margin-left: 20px;
    }

    .login_form input {
        width: 170px;
    }

    .login_button {
        right: calc(50% - 180px);
    }
}
